.expense-form {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}

.expense-form form {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 0.5em;
    background-color: rgb(91, 203, 255);
    justify-self: center;
    align-self: center;
    padding: 10px;
    z-index: 99999;
}

.expense-form form input {
    height: 3.5em;
}